<div class="row">
  <div class="col-md-2">
    <div class="submenu">
        <div class="mini-submenu">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </div>
      <div class="list-group submenu-margin">
          <span href="#" class="list-group-item">
              Submenu
              <span class="pull-right" id="slide-submenu">
                  <i class="fa fa-times"></i>
              </span>
          </span>
          <a href="/" class="list-group-item"><i class="fa fa-home"></i> Home</a>
          <a href="#" class="list-group-item"><i class="fa fa-comment-o"></i> Products</a>
          <a href="#" class="list-group-item"><i class="fa fa-search"></i> Categories</a>
          <a href="#" class="list-group-item"><i class="fa fa-user"></i> Comments</a>
          <a href="#" class="list-group-item"><i class="fa fa-folder-open-o"></i> Users</a>
          <a href="#" class="list-group-item"><i class="fa fa-bar-chart-o"></i> Statistics</a>
      </div> 
    </div>
    <div class="shopping-cart-home">
      <h4>Shopping List</h4>
      <ul class="list-group">
        {{# if list }}
          {{#each list}}
            <li class="list-group-item">
              <span class="badge">{{this.qty}}</span>
              <span class="list-group-heading" data-toggle="collapse" data-parent="#list-group-accordion" data-target="#{{this.item._id}}" >
                <strong>{{this.item.title}}</strong>
              </span>
              <span class="label label-success">${{this.price}}</span>
              <a href="/reduce/{{this.item._id}}"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
              <a href="/remove/{{this.item._id}}"><i class="fa fa-times" aria-hidden="true"></i></a> 
            </li>            
          {{/each}}
          <strong class="total-price">Total: <span>${{totalPrice}}</span></strong>
          <a href="/shopping-cart/" class="btn btn-success">Order</a> 
        {{else}}
          <h6>There aren't any items in the cart</h6>
        {{/if}}
      </ul>
    </div>
  </div>
  <div class="col-md-10">
    <h2>Product List</h2>
    {{# each products }}
      <div class="row">
        {{# each this }}
          <div class="col-sm-6 col-md-4">
            <div class="card cardstyles">
              <img src="{{this.imagePath}}" alt="..." class="card-img-top img-fluid">
              <div class="card-block">
                <h3 class="card-title">{{this.title}}</h3>
                <div class="card-subtitle price">${{this.price}}</div>
                <h5 class="card-text"><a href="#">{{this.category}}</a></h5>
                <p class="card-text">{{this.description}}</p>
                <div class="clearfix">              
                  <a href="/add-to-cart/{{this._id}}" class="btn btn-success pull-right" role="button">Add to Cart</a>
                </div>
              </div>
            </div><!-- card -->
          </div><!-- col-sm-6 col-md-4 -->
        {{/each}}
      </div>
    {{/each}}      
  </div>
</div>